body > div > header {
    display: flex;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: dodgerblue;
    font-size: 1rem;
    color: white;
    padding-left: 2rem;
}

footer {
    background-color: dodgerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.link_style {
    margin: auto;
    height: 3rem;
    background-color: darkorchid;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
}

.link_style > li > a{
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 1rem;

}

.link_style > li > a:hover {
    text-decoration: underline;
}

section > h2 {
    margin: auto;
    background-color: cyan;
    display: grid;
    justify-content: center;
    color: black;
}

.book_details {
    display: flex;
    flex-direction: column;
}

.books {
    width: 20vw;
    background-color: lightslategray;
    padding: 10px;
    margin: 20px;
    color: white;
    
}