<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeClan Library</title>
</head>
<body>
    <div>
        <header>
            <h1>CodeClan Library</h1>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>CodeClan Library &copy; 2023</p>
        </footer>
    </div>
</body>
</html>