{% extends "base.html" %}
{% block content %}

<section>
    <h2>Books in Library</h2>
    <section>
        {% for book in book_list %}
        <section>
            <h3>Title: {{book.title}}</h3>
            <h4>Author: {{book.author}}</h4>
            <h5>Genre: {{book.genre}}</h5>

                {% if book.checked_out %}
                <p>Status: <i><b>Checked Out</i></b></p>
                {% elif book.checked_in %}

                <p>Status: <i><b>Checked In</i></b></p>
                {% endif %}

                <form action="/books/{{ loop.index0 }}/update" method="POST">
                    <label for="update">Change Status To Checked Out</label>
                    <input type="radio" id="update" name="update">
                    <input type="submit" value="Update">
                </form>
            
            <a href="book/{{ book_list.index(book) }}">Book Details</a>
                <div>
                    <form action="/books/{{ loop.index0 }}/delete" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            {% endfor %}
        </section>
    </section>
</section>
    <hr>
    <form action="/books" method="POST">
        <h2>New Book</h2>
        <div>
            <label for="title">Title: </label>
            <input id="title" name="title" type="text">
        </div>
        <div>
            <label for="author">Author: </label>
            <input id="author" name="author" type="text">
        </div>
        <div>
            <label for="genre">Genre: </label>
            <input id="genre" name="genre" type="text">
        </div>
        <div>
            <label for="checked_in">Checked In: </label>
            <input id="checked_in" name="checked_in" type="checkbox">
        </div>
        <div>
            <label for="checked_out">Checked Out: </label>
            <input id="checked_out" name="checked_out" type="checkbox">
        </div>
        <input type="submit" value="Add Book">
    </form>
    
    {% endblock %}